body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
  }
  
  #todo-list li {
    margin-bottom: 10px;
  }
  
  #add-task-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  #add-task-form label {
    flex-grow: 1;
  }
  
  #add-task-form input {
    flex-grow: 2;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  #add-task-form button {
    padding: 5px 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
  }
  